.messages
  .message
    .upper-info
      %p.upper-info__user
        田中
      %p.upper-info__date
        2019/05/05(Sun) 01:02:56
    %p.message__text
      こんにちは

  .message
    .upper-info
      %p.upper-info__user
        田中
      %p.upper-info__date
        2019/05/05(Sun) 01:02:56
    %p.message__text
      こんにちは

  .message
    .upper-info
      %p.upper-info__user
        田中
      %p.upper-info__date
        2019/05/05(Sun) 01:02:56
    %p.message__text
      こんにちは

  .message
    .upper-info
      %p.upper-info__user
        田中
      %p.upper-info__date
        2019/05/05(Sun) 01:02:56
    %p.message__text
      こんにちは