// フォント色
$fontWhiteColor: #FFFFFF;
$fontGrayColor: #999999;
$fontBlackColor: #434A54;

// 背景色
$backgroundColor: #38AEF0;

//フラッシュ
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;