!!!

%head
  %body
    -#サイドバー
    =render partial: "groups/side_bar"

    -#メイン
    .chat-main
      .main-header
        .current-group
          %h2.current-group__name
            = @group.name
          %ul.member-list
            Member：
            %li.member-list__member
            
        
        =link_to edit_group_path(current_user.groups), class: 'main-header__edit-btn' do
          Edit

      =render partial: "messages/message"

      .form
        .new-message
          .input-box
            %input.input-box__text{type: "text", name: "message", placeholder: "type a message", size: "60"}   
            %label
              %input.image-label{type: "file", name: "file"}
                %i.fa.fa-image
          %input.new-message__submit-btn{type: "submit", name: "comit", value: "Send"}